.mission-card {
  width: calc(100% - 40px);
  padding: 20px;
}

.mission-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
}

.mission-card-content ul {
  list-style-type: none;
  padding: 0;
}

.mission-card-content p {
  color: #888;
  font-size: 14px;
}

.mission-card-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mission-card-navigation button {
  background: none;
  border: none;
  cursor: pointer;

}

.mission-card-navigation button svg {
  height: 32px;
  fill: currentColor;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.informative-section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
}

.mission-card-content {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  transition: transform 0.3s ease;
  margin-left: 20px;
}

.mission-card-content:hover {
  transform: scale(1.02);
}

.mission-card-header {
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.mission-card-header h2 {
  font-size: 26px;
  color: #2c3e50;
  margin-bottom: 5px;
}

.mission-card-header h4 {
  font-size: 18px;
  color: #7f8c8d;
  margin-bottom: 20px;
}

.image-container {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h5 {
  font-size: 20px;
  color: #34495e;
  margin-bottom: 10px;
}

.list ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #2c3e50;
}

.list ul li {
  margin-bottom: 10px;
}

.text p {
  font-size: 16px;
  color: #7f8c8d;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .mission-card-content {
    padding: 15px;
  }

  .mission-card-header h2 {
    font-size: 22px;
  }

  .mission-card-header h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 18px;
  }

  .image-container {
    height: 200px;
  }

  .text p {
    font-size: 14px;
  }
}



/* Botão de foco nas coordenadas */
.focus-button {
  background-color: #00008b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.focus-button:hover {
  background-color: #0055b3;
}

/* Ajuste das setas de navegação */
.arrow {
  font-size: 24px;
  color: #00008b;
  cursor: pointer;
  padding: 0 10px;
}

.arrow:hover {
  color: #0055b3;
}

/* Ajustes para o texto */
.mission-card-content p {
  margin-bottom: 10px;
  color: #333;
}